<div class="Reservations">
  <table class="Reservations-table">
    <thead>
      <tr>
        <th><div class="TableHeader">Confirmation number</div></th>
        <th><div class="TableHeader">Arrival city name</div></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @reservations.each do |reservation| %>
        <tr>
          <td><%= reservation.confirmation_number %></td>
          <td><%= reservation.arrival_city_name %></td>
          <td><%= link_to 'Show', reservation %></td>
          <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
          <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Reservation', new_reservation_path %>
</div>
