<div class="Reservations">
  <table class="Table">
    <thead>
      <tr>
        <th>Confirmation number</th>
        <th>Date</th>
        <th>Traveling to</th>
        <th>Flights</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @reservations.each do |reservation| %>
        <tr>
          <td><%= link_to reservation.confirmation_number, reservation %></td>
          <td><%= flight_date reservation.time %></td>
          <td><%= reservation.arrival_city_name %></td>
          <td>
            <% if reservation.departure_flights.any? %>
              <%= reservation.departure_flights.first.departure_airport.iata %>
              <span class="Icon-plane-arrow Icon--padded"></span>
              <%= reservation.departure_flights.last.arrival_airport.iata %>
            <% end %>
            <% if reservation.return_flights.any? %>
              <span class='u-text-padded'>·</span>
              <%= reservation.return_flights.first.departure_airport.iata %>
              <span class="Icon-plane-arrow Icon--padded"></span>
              <%= reservation.return_flights.last.arrival_airport.iata %>
            <% end %>
          </td>
          <td><%= link_to 'Remove', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      <% if @reservations.empty? %>
        <tr>
          <td><strong>You have no reservations.</strong></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Add a Reservation', new_reservation_path, class: 'GhostButtonLink' %>
</div>
