<h1>Listing Reservations</h1>

<table>
  <thead>
    <tr>
      <th>Confirmation number</th>
      <th>Trip name</th>
      <th>Arrival city name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.confirmation_number %></td>
        <td><%= reservation.trip_name %></td>
        <td><%= reservation.arrival_city_name %></td>
        <td><%= link_to 'Show', reservation %></td>
        <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
        <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reservation', new_reservation_path %>
