<div class="Reservation">
  <% if @reservation.payload['body']['international'] %>
    <div class="Reservation-notice">
      International flights require passport information for check in. If passport information is not attached to your Southwest account reservation, a manual check in will be required.
    </div>
  <% end %>
  <div class="ReservationCard">
    <div class="ReservationCard-header ReservationCard-indention-top">
      <div class="ReservationCard-passengers">
        <div class="ReservationCard-label">Passengers</div>
        <% @reservation.passengers.each do |passenger| %>
          <div class="ReservationCard-passenger">
            <%= passenger.full_name %>
          </div>
        <% end %>
      </div>
      <div class="ReservationCard-confirmation-number-group">
        <div class="ReservationCard-label ReservationCard-confirmation-number-label">Confirmation #</div>
        <div class="ReservationCard-confirmation-number"><%= @reservation.confirmation_number %></div>
      </div>
    </div>
    <div class="ReservationCard-flight-groups ReservationCard-indention-bottom">
      <% if @reservation.flights.any? %>
        <% if @reservation.departure_flights.any? %>
          <div class="ReservationCard-flights">
            <div class="ReservationCard-flight-group-title">Departure</div>
            <% @reservation.departure_flights.each do |flight| %>
              <div class="ReservationCard-flight">
                <div class="ReservationCard-flight-title u-text-center">
                  <%= flight.departure_airport.iata %>
                  <span class="Icon-plane-arrow Icon--large Icon--padded light"></span>
                  <%= flight.arrival_airport.iata %> <span class='u-text-padded'>·</span> <%= flight_date flight.local_departure_time %>
                </div>
                <div class="ReservationCard-flight-details">
                  <div class="ReservationCard-flight-details-group u-text-left">
                    <div class="ReservationCard-label">Flight No</div>
                    <div class="ReservationCard-flight-number">
                      <%= flight.flight_number %>
                    </div>
                  </div>
                  <div class="ReservationCard-flight-details-group">
                    <div class="ReservationCard-label">Departs</div>
                    <div class="ReservationCard-flight-times-depart">
                      <%= flight_time flight.local_departure_time %>
                    </div>
                  </div>
                  <div class="ReservationCard-flight-details-group ReservationCard-flight-details-group--last u-text-right">
                    <div class="ReservationCard-label">Arrives</div>
                    <div class="ReservationCard-flight-times-arrive">
                      <%= flight_time flight.local_arrival_time %>
                    </div>
                  </div>
                  <% if flight.passenger_checkins.any? %>
                    <div class="ReservationCard-flight-checkins">
                      <% flight.passenger_checkins.each do |passenger_checkin| %>
                        <div class="ReservationCard-flight-checkin">
                          <span class="Icon-checkmark Icon--tiny Icon--padded-right"></span>
                          <span class="ReservationCard-badge u-text-padded-right"><%= passenger_checkin.boarding_group %><%= passenger_checkin.boarding_position %></span>
                          <%= passenger_checkin.passenger.full_name %>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                  <% if flight.scheduled? %>
                    <div class="ReservationCard-scheduled">
                        <span class='Icon-clock Icon--smallest'></span> Automatic checkin at <%= flight_time_basic flight.checkin.local_scheduled_at %> <%= flight_date flight.checkin.local_scheduled_at %>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
        <% if @reservation.return_flights.any? %>
          <div class="ReservationCard-flights">
            <div class="ReservationCard-flight-group-title">Return</div>
            <% @reservation.return_flights.each do |flight| %>
              <div class="ReservationCard-flight">
                <div class="ReservationCard-flight-title u-text-center">
                  <%= flight.departure_airport.iata %>
                  <span class="Icon-plane-arrow Icon--large Icon--padded light"></span>
                  <%= flight.arrival_airport.iata %> <span class='u-text-padded'>·</span> <%= flight_date flight.local_departure_time %>
                </div>
                <div class="ReservationCard-flight-details">
                  <div class="ReservationCard-flight-details-group u-text-left">
                    <div class="ReservationCard-label">Flight No</div>
                    <div class="ReservationCard-flight-number">
                      <%= flight.flight_number %>
                    </div>
                  </div>
                  <div class="ReservationCard-flight-details-group">
                    <div class="ReservationCard-label">Departs</div>
                    <div class="ReservationCard-flight-times-depart">
                      <%= flight_time flight.local_departure_time %>
                    </div>
                  </div>
                  <div class="ReservationCard-flight-details-group ReservationCard-flight-details-group--last u-text-right">
                    <div class="ReservationCard-label">Arrives</div>
                    <div class="ReservationCard-flight-times-arrive">
                      <%= flight_time flight.local_arrival_time %>
                    </div>
                  </div>
                  <% if flight.passenger_checkins.any? %>
                    <div class="ReservationCard-flight-checkins">
                      <% flight.passenger_checkins.each do |passenger_checkin| %>
                        <div class="ReservationCard-flight-checkin">
                          <span class="Icon-checkmark Icon--tiny Icon--padded-right"></span>
                          <span class="ReservationCard-badge u-text-padded-right"><%= passenger_checkin.boarding_group %><%= passenger_checkin.boarding_position %></span>
                          <%= passenger_checkin.passenger.full_name %>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                  <% if flight.scheduled? %>
                    <div class="ReservationCard-scheduled">
                        <span class='Icon-clock Icon--smallest'></span> Automatic checkin at <%= flight_time_basic flight.checkin.local_scheduled_at %> <%= flight_date flight.checkin.local_scheduled_at %>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      <% elsif @reservation.international? %>
        <p class='ReservationCard-message'>
          Unfortunately, do to uncontrolled limitations of the checkin process, international flights are not yet supported.
        </p>
      <% else %>
        No flights.
      <% end %>
    </div>
  </div>
  <div class='ReservationCard-footer'>
    <%= link_to 'Remove Reservation', @reservation, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>
