<!DOCTYPE html>
<html>
<head>
  <title>SouthwestCheckin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <header class="Header">
    <div class="Header-actions">
      <a class="GhostButtonLink" href='/'>Add a Reservation</a>
      <a class="Header-login" href='/'>Login</a>
    </div>
    <div class="Header-logo">
      <%= image_tag 'logo.svg', class: 'Header-logo-img' %>
    </div>
  </header>

  <div class="notice"><%= notice %></div>
  <div class="alert"><%= alert %></div>

  <%= yield %>

</body>
</html>
