<!DOCTYPE html>
<html>
<head>
  <title>SouthwestCheckin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
</head>
<body>
  <header class="Header">
    <div class="Header-actions">
      <div class="Header-action">
        <%= link_to 'Add a Reservation', new_reservation_path, class: 'GhostButtonLink' %>
      </div>
      <% if user_signed_in? %>
        <div class="Header-action Header-dropdown">
          <% content_for :dropdown_toggle do %>
            <%= current_user.email %> <span class="Dropdown-toggle-down-arrow">▾</span>
          <% end %>
          <% content_for :dropdown_menu do %>
            <ul class='Header-dropdown-list'>
              <li><%= link_to 'My Reservations', user_reservations_path(current_user) %></li>
              <li><%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'Header-login' %></li>
            </ul>
          <% end %>
          <%= render 'components/dropdown' %>
        </div>
      <% else %>
        <div class="Header-action">
          <%= link_to 'Login', new_user_session_path, class: 'Header-login' %>
        </div>
      <% end %>
    </div>
    <div class="Header-logo">
      <a href="/">
        <%= image_tag 'logo.svg', class: 'Header-logo-img' %>
      </a>
    </div>
  </header>

  <section class="Body">
    <% if notice %><div class="notice js-notice"><div class="notice-inner"><%= notice %></div></div><% end %>
    <% if alert %><div class="alert js-notice"><div class="notice-inner"><%= alert %></div></div><% end %>
    <%= yield %>
  </section>
</body>
</html>
