<!DOCTYPE html>
<html>
<head>
  <title>SouthwestCheckin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <header class="Header">
    <div class="Header-actions">
      <%= link_to 'Add a Reservation', new_reservation_path, class: 'GhostButtonLink' %>
      <%= link_to 'Login', new_user_session_path, class: 'Header-login' %>
    </div>
    <div class="Header-logo">
      <a href="/">
        <%= image_tag 'logo.svg', class: 'Header-logo-img' %>
      </a>
    </div>
  </header>

  <section class="Body">
    <div class="notice"><%= notice %></div>
    <div class="alert"><%= alert %></div>

    <%= yield %>
  </section>
</body>
</html>
